body {
	background:white;
	font-family: Raleway;
}

#main-content {
	margin:0 auto;
}

.block {
	margin-bottom:0.4rem;
	display:table;
	width:100%;
}

.heading {
	float:left;
	width:100%;
	background-color:#9e38b0;
	border-bottom:0.25rem solid #6f277d;
	display: table;
	padding: 0.5rem 0 0.5rem 0.5rem;
	box-sizing: border-box;
		h1 {
			padding: 1rem 0 1rem 0.5rem;
			font-size: 1.8rem;
			margin:0;
			color:white;
		}
}

.headingOpen {
	background-color:#6844b7;
	border-bottom:0.25rem solid #4c3185;
}

.heading:hover {
	border-bottom:0.25rem solid #4c3185;
}

.headingOpen:hover {
	border-bottom:0.25rem solid #6f277d;
}

.header {
	display: table-cell;
    vertical-align: middle;
	width:50%;
	float:left;
}

.arrow {
	width:4rem;
	float:right;
	//background:#6844b7;
}

.rotated {
	-webkit-transform: rotate(180deg);
  	-moz-transform: rotate(180deg);
  	-ms-transform: rotate(180deg);
  	-o-transform: rotate(180deg);
  	transform: rotate(180deg);
}


.heading:hover {
	cursor:pointer;
}

.inner-text {
	background:white;
	border: 1px solid #ebebeb;
	border-top:0;
	//margin-bottom:5px;
	padding:1.4rem 0.8rem;
	//float:left;
	width:100%;
	box-sizing: border-box;

		p {
			margin:0;
		}
}

.showText {
	display:inline-block;
}

.hideText {
	display:none;
}



/* Default styles first then media queries */
@media screen and (max-width: 400px)  {
	#main-content {
	margin: 0.6rem;
	}

}

@media screen and (min-width: 400px)  {
	#main-content {
	margin: 0.8rem;
	}
}

@media screen and (min-width: 600px)  {
	#main-content {
	margin: 1rem;
	}
}

@media screen and (min-width: 1000px) {
	#main-content {
	margin: 1.2rem;
	}
}

@media screen and (min-width: 1400px) {
	#main-content {
	margin: 1.4rem;
	}

}





