body {
  background: white;
  font-family: Raleway; }

#main-content {
  width: 80%;
  margin: 0 auto; }

.block {
  margin-bottom: 1rem; }

.heading {
  background: #9300ff;
  border-bottom: 1px solid grey; }
  .heading h1 {
    padding: 1rem 0 1rem 0.5rem;
    font-size: 1.8rem;
    margin: 0;
    color: white; }

.heading:hover {
  cursor: pointer; }

.inner-text {
  background: white;
  border: 1px solid grey;
  padding: 1rem; }
  .inner-text p {
    margin: 0; }

.link {
  text-decoration: none; }
